
:root {
    --default-gray: #f4f4f4;
    --default-font-color: black;
    --header-font-color: var(—default-font-color);


    /*
    --breadcrumb-font-color: #637282;
    --breadcrumb-margin: 24px;
    --hover-link-color: #5B5DEF;

    --footer-height: 64px;
    --footer-padding-top: 48px;
    --footer-background: var(--default-gray);
    --footer-font-color: var(--average-color);
    --footer-go-to-top-color: white;

    --dokka-logo-image-url: url('../images/logo-icon.svg');
    --dokka-logo-height: 50px;
    --dokka-logo-width: 50px; */


    --active-section-color: #67a300;
    --active-tab-border-color: #67a300;
    --sidemenu-section-active-color: #67a300; 

}

#content{
    background-color: red;
}